<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletsBasics2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
   <servlet>
        <servlet-name>EntryLogin</servlet-name>
        <servlet-class>parkingController.EntryLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitLogin</servlet-name>
        <servlet-class>parkingController.ExitLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntryLoginChecker</servlet-name>
        <servlet-class>parkingController.EntryLoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>parkingController.UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoBackToHomePage</servlet-name>
        <servlet-class>parkingController.GoBackToHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration1</servlet-name>
        <servlet-class>parkingController.Registration1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitLoinChecker</servlet-name>
        <servlet-class>parkingController.ExitLoinChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitLoginChecker</servlet-name>
        <servlet-class>parkingController.ExitLoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetToken</servlet-name>
        <servlet-class>parkingController.GetToken</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntryLogin</servlet-name>
        <url-pattern>/EntryLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitLogin</servlet-name>
        <url-pattern>/ExitLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntryLoginChecker</servlet-name>
        <url-pattern>/EntryLoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoBackToHomePage</servlet-name>
        <url-pattern>/GoBackToHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration1</servlet-name>
        <url-pattern>/Registration1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitLoinChecker</servlet-name>
        <url-pattern>/ExitLoinChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitLoginChecker</servlet-name>
        <url-pattern>/ExitLoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetToken</servlet-name>
        <url-pattern>/GetToken</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>firstPage.html</welcome-file>
    </welcome-file-list>
</web-app>
